.timetable {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    width: 100%;
    margin-top: 1em;
}

@media screen and (max-width: 400px) {
    .timetable {
        max-width: 40%
    }
}