aside {
    display: inline-block;
    flex: 1fr;
}

body {
    font-size: 36px;
    margin-left: 50px;
}

.left-section {
    display: inline-block;
    flex: 2fr;
}

main {
    display: flex;
}

.site-logo {
    max-width: 200px;
}

.logo-title-div {
    display: flex;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
}