main {
    display: flex;
    justify-content: space-between;
    gap: 5em;
}

@media screen and (max-width: 1024px) {
    .main {
        flex-direction: column;
    }

    .news {
        margin-top: 2em;
        order: 1;
    }

    .about {
        order: 2;
    }

    .gallery {

    }
}