.gallery {
    display: grid;
    gap: 1em;
}

.gallery img {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    width: 100%;
}

.gallery img:hover {
    transform: scale(1.05);
}

h2 {
    margin-bottom: 0;
}